.container {
  background: lightblue;
  overflow  : hidden;
  cursor    : url('./cursor.png') 39 39, auto;
  padding   : 0px;
}

.buttonsH  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsH * {
  margin-top: 120px;
}

.buttonsH button {
  padding: 4px;
  width: 60%;
}

.buttonsW {
  position       : fixed;
  bottom         : 0px;
  display        : flex;
  justify-content: center;
  width          : 100%;
  margin         : 10px;
  z-index        : 10000;
}

.gift-icon {
  position: fixed;
  cursor: pointer;
  right: 10px;
  top: 10px;
  width: 1rem;
}
